@model DepartmentViewmodel


<div class="form-group">
    <label class="col-form-label" asp-for="Code"></label>
    <input asp-for="Code" class="form-control" readonly />

</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="CreationDate"></label>
    <input asp-for="CreationDate" class="form-control" readonly />
</div>

