@model DepartmentViewmodel
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>
<br />
<br />
<div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Code"></label>
        <input asp-for="Code" class="form-control" readonly/>
        
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input asp-for="Name" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="CreationDate"></label>
        <input asp-for="CreationDate" class="form-control" readonly/>
    </div>

    <a asp-action="Edit" asp-route-Id ="@Model.Id" class="btn btn-secondary">Edit</a> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>


</div>

