@model UserViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you Sure To Delete ?</h1>
<form asp-action="Delete">
    <div asp-validation-summary="All"></div>

    <partial name="PartialView/DetailDeleteUserPartial" />

    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>


