@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}


<h1>Edit User</h1>
<br />
<br />
<form asp-action="Edit">
    <div asp-validation-summary="All"></div>

    <partial name="PartialView/CreateEditRolePartial" />


    <input type="submit" value="Save" class="btn btn-primary" /> |
    <a asp-controller="" asp-action="Index" class="btn btn-light">Back To List</a>

</form>

