@model FotgetPasswordViewModel
@{
    ViewData["Title"] = "FotgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendResetPasswordUrl" method="post">
			<div asp-validation-summary="ModelOnly"></div>
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>

@section validationScriptSection {
	<partial name="_ValidationScriptsPartial" />
}

