@model SignInViewModel

@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SignIn" method="post">
			<div asp-validation-summary="All"></div>
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="RememberMe" class="checkbox" required="">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SININ">
		</form>
		<p>Don't have an Account? <a asp-action="SignUp"> Register Now!</a></p>
		<p>Forget Password? <a asp-action="FotgetPassword"> Forget Password!</a></p>
	</div>
</div>

@section validationScriptSection {
	<partial name="_ValidationScriptsPartial" />
}		